@{
    ViewBag.Title = "About";
}

<h4>Your opinion is very important for us. Every feedback will be answered:</h4>

<h4 margin="20px">Email: sergppv@gmail.com</h4>
<h4 margin="20px">Skype: sergei__popov</h4>
