@{
    ViewBag.Title = "Home Page";
}

<script>
    var id = '';
    $(document).ready(function () {
        $('#analyze').first().click(function () {
            var fen = $('#fen').first();
            var depth = $('#depthSpinner').first();
            var data = {
                fen: fen.text(),
                depth: depth.spinner('value')
            }
            $.get('/Home/StartAnalyze', data, function(result) {
                id = result;
                setInterval(timer, 2000);
            });
        });
    });
</script>
<a ></a>
<script>
    function makeMove(move) {
        board.move(move.slice(0, 2) + '-' + move.slice(-2));
    }

    function timer() {
        var data = {
            guid: id
        }
        $.get('GetOutput', data, function (lineInfo) {
            $('#depth').first().text(lineInfo.Depth);
            $('#score').first().text(lineInfo.Score);
            $('#nodes').first().text(lineInfo.Nodes);
            $('#time').first().text(lineInfo.Time);

            
            var movesLink = '';
            for (var i = 0; i < lineInfo.Moves.split(' ').length; i++) {
                var move = lineInfo.Moves.split(' ')[i];
                movesLink += i + 1 + '. ' + '<a class="move" onClick="makeMove(\'' + move +  '\')" href="#">' + move + '</a> ';
            }

            $('#moves').first().empty();
            $('#moves').first().html(movesLink);
        });
    }
</script>

<script>
    $(document).ready(function () {
        $("#depthSpinner").spinner();
    });
</script>

<script language="">
    var board = null;
    $(document).ready(function () {
        var game = new Chess(),
      statusEl = $('#status'),
      fenEl = $('#fen'),
      pgnEl = $('#pgn');

        // do not pick up pieces if the game is over
        // only pick up pieces for the side to move
        var onDragStart = function (source, piece, position, orientation) {
            if (game.game_over() === true ||
                (game.turn() === 'w' && piece.search(/^b/) !== -1) ||
                (game.turn() === 'b' && piece.search(/^w/) !== -1)) {
                return false;
            }
        };

        var onDrop = function (source, target) {
            // see if the move is legal
            var move = game.move({
                from: source,
                to: target,
                promotion: 'q' // NOTE: always promote to a queen for example simplicity
            });

            // illegal move
            if (move === null) return 'snapback';

            updateStatus();
        };

        // update the board position after the piece snap 
        // for castling, en passant, pawn promotion
        var onSnapEnd = function () {
            board.position(game.fen());
        };

        var updateStatus = function () {
            var status = '';

            var moveColor = 'White';
            if (game.turn() === 'b') {
                moveColor = 'Black';
            }

            // checkmate?
            if (game.in_checkmate() === true) {
                status = 'Game over, ' + moveColor + ' is in checkmate.';
            }

                // draw?
            else if (game.in_draw() === true) {
                status = 'Game over, drawn position';
            }

                // game still on
            else {
                status = moveColor + ' to move';

                // check?
                if (game.in_check() === true) {
                    status += ', ' + moveColor + ' is in check';
                }
            }

            statusEl.html(status);
            fenEl.html(game.fen());
            pgnEl.html(game.pgn());
        };

        var cfg = {
            draggable: true,
            position: 'start',
            onDragStart: onDragStart,
            onDrop: onDrop,
            onSnapEnd: onSnapEnd
        };
        board = new ChessBoard('board', cfg);
        
        $('#startPositionBtn').on('click', board.start);

        $('#move1Btn').on('click', function () {
            board.move('e2-e4');
        });

        $('#move2Btn').on('click', function () {
            board.move('d2-d4', 'g8-f6');
        });

        updateStatus();
    });

</script>

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div id="board" style="width: 400px"></div>
<div id="analisis">
    <p>Status: <span id="status"></span></p>
    <p>FEN: <span id="fen"></span></p>
    <p>PGN: <span id="pgn"></span></p>
    Depth: <input id="depthSpinner">
    <input value="Analyze" type="button" id="analyze" />


    <input type="button" id="startPositionBtn" value="Start Position" />
    <input type="button" id="move1Btn" value="e2-e4" />
    <input type="button" id="move2Btn" value="d2-d4, g8-f6" />
    
    <div id="engineOutput">
        <table>
            <tr>
                <td>Depth</td>
                <td id="depth"></td>
            </tr>
            <tr>
                <td>Score</td>
                <td id="score"></td>
            </tr>
            <tr>
                <td>Nodes</td>
                <td id="nodes"></td>
            </tr>
            <tr>
                <td>Time</td>
                <td id="time"></td>
            </tr>
            <tr>
                <td>Moves</td>
                <td id="moves"></td>
            </tr>
        </table>
    </div>
</div>


<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>