@{
    ViewBag.Title = "Home Page";
}

<script>
    var board = null;
    var id;
    $(document).ready(function () {
        $('#analyze').click(function () {
            var fen = $('#fen').first();
            var depth = $('#depthSpinner').first();
            var moveTurn = $('.moveTurn:checked').val();
            var data = {
                fen: fen.val(),
                depth: depth.spinner('value'),
                whiteToMove: moveTurn == 'Белые'? true : false
            }
            $.get('/Home/StartAnalyze', data, function (result) {
                id = result;
                setTimeout(timer, 2000);

                var cfg = {
                    draggable: false,
                    position: board.fen(),
                    onChange: onPositionChange,
                };

                board = new ChessBoard('board', cfg);
            });
        });
    });

    $(document).ready(function () {
        $("#depthSpinner").spinner();
        $("#depthSpinner").spinner('value', 1);

        var cfg = {
            position: '8/8/8/8/8/8/8/8',
            onChange: onPositionChange,
            sparePieces: true
        };
        board = new ChessBoard('board', cfg);
        board.showErrors = 'console';
        $('#fen').val(cfg.position);
        $('#startPositionBtn').on('click', board.start);
        $('#clearBtn').on('click', board.clear);
    });
</script>

<script>
    function makeMove(position, caller) {
        $('.move').removeClass('currentMove');
        $(caller).addClass('currentMove');
        board.position(position, true);
    }

    function onPositionChange(oldPos, newPos) {
        var fen = $('#fen');
        fen.val(ChessBoard.objToFen(newPos));
    }

    function timer() {
        var data = {
            guid: id
        }
        $.get('/Home/GetOutput', data, function (lines, textStatus) {
            $('#depth').text(lines[0].Depth);
            $('#score').text(lines[0].Score);
            $('#nodes').text(lines[0].Nodes);
            $('#time').text(lines[0].Time);

            var cfg = {
                position: board.fen()
            };

            $('#moves').empty();
            var fen = board.fen();
            $('#start').click(function() {
                makeMove(fen);
            });

            for (var j = 0; j < lines.length; j++) {
                var divLine = $('<div/>');
                var fakeBoard = new ChessBoard('fakeBoard', cfg);
                var lineInfo = lines[j];
                
                var moves = lineInfo.Moves.split(' ');
                for (var i = 0; i < moves.length; i++) {
                    var move = moves[i];
                    fakeBoard.move(move.slice(0, 2) + '-' + move.slice(-2));
                    var currentPosition = fakeBoard.fen();
                    if (i % 2 == 0) {
                        var currentMove = i / 2 + 1 + '. ';
                        divLine.append($(' <span>' + currentMove + '</span>'));
                    }

                    divLine.append($('<a class="move" onClick="makeMove(\'' + currentPosition + '\', this)" href="#">' + move + ' </a>'));
                }
                $('#moves').append(divLine);
            }
        });
    }

    function moveLeft() {
        var leftElement = $('.currentMove').prevUntil('#moves', '.move').first();
        if (leftElement.length == 0)
            $('#start').click();
        else
            leftElement.first().click();
    }

    function moveRight() {
        $('.currentMove').nextUntil('#moves', '.move').first().click();
    }

    function moveToEOF() {
        $('.currentMove').nextUntil('#moves', '.move').last().click();
    }

</script>

<div id="chessBoard">
    <div id="board"></div>
    <span class="fen">
        <label>FEN: </label>
        <input id="fen" type="text"/>
    </span>
</div>

<div id="analisys">
    Depth: <input id="depthSpinner" min="1" max="30" ><br/>
    Текущий ход
    <input class="moveTurn" type="radio" name="wer" value="Белые" title="sdfsdf" checked="True"/> Белые
    <input class="moveTurn" type="radio" name="wer" value="Черные" /> Черные
    <br/>
    <input value="Analyze" type="button" id="analyze" />
    <input type="button" id="startPositionBtn" value="Start Position" />
    <input type="button" id="clearBtn" value="Clear" />
    
    <div id="engineOutput">
        <table>
            <tr>
                <td>Depth</td>
                <td id="depth"></td>
            </tr>
            <tr>
                <td>Score</td>
                <td id="score"></td>
            </tr>
            <tr>
                <td>Nodes</td>
                <td id="nodes"></td>
            </tr>
            <tr>
                <td>Time</td>
                <td id="time"></td>
            </tr>
            <tr>
                <td>Navigation</td>
                <td id="navigation">
                    <input type="button" value="start" id="start"/>
                    <input type="button" value="left" onclick="moveLeft()" />
                    <input type="button" value="right" onclick="moveRight()"/>
                    <input type="button" value="eof" onclick="moveToEOF()"/>
                </td>
            </tr>
            <tr>
                <td>Moves</td>
                <td id="moves">
                    
                </td>
            </tr>
        </table>
    </div>
</div>

<div id="fakeBoard" hidden="true" />