@{
    ViewBag.Title = "Home Page";
}

@Scripts.Render("~/Scripts/chessboard-0.3.0.js")
@Scripts.Render("~/Scripts/chess.js")
@Scripts.Render("~/Scripts/Main.js")

<div id="chessBoard">
    <div id="board"></div>
    <div id="analysisNavigation" hidden="true">
        <input type="image" src="/content/images/flip.png" width="16" height="16" id="flip" onclick="flipBoard()"/>
        <input type="image" src="/content/images/start.png" width="16" height="16" onclick="moveStart()" />
        <input type="image" src="/content/images/left.png" width="16" height="16" onclick="moveLeft()" />
        <input type="image" src="/content/images/right.png" width="16" height="16" onclick="moveRight()" />
        <input type="image" src="/content/images/end.png" width="16" height="16"  onclick="moveEnd()" />
    </div>
    <div id="positionNavigation">
        <input type="button" id="startPositionBtn" value="Start Position" onclick="setStartPosition()" />
        <input type="button" id="clearBtn" value="Clear" onclick="clearBoard()" />
    </div>
    <span class="fen">
        <label>FEN: </label>
        <input id="fen" type="text" oninput="changeBoardFen()"/>
    </span>
</div>

<div id="analysis">
    <div class="error">
    </div>
    <div id="analysisSettings">
        <label>Depth:</label>
        <input id="depthSpinner" min="1" max="20">
        <label>Output lines:</label>
        <input id="outputLinesSpinner" min="1" max="3" />
        <input value="Analyze" type="button" id="analyze" onclick="analyze()" />
        <br />
        <label>Current move:</label>
        <input class="moveTurn" name="moveTurn" type="radio" value="w" checked="checked" onchange="moveTurnChanged()"/> <label>White</label>
        <input class="moveTurn" name="moveTurn" type="radio" value="b" onchange="moveTurnChanged()" /> <label>Black</label>
        <input type="checkbox" id="w00" onchange="moveTurnChanged()" checked="checked">White 0-0
        <input type="checkbox" id="w000" onchange="moveTurnChanged()" checked="checked">White 0-0-0
        <input type="checkbox" id="b00" onchange="moveTurnChanged()" checked="checked">Black 0-0
        <input type="checkbox" id="b000" onchange="moveTurnChanged()" checked="checked">Black 0-0-0
    </div>
    <div id="engineOutput" hidden="true">
        <table border="1" id="engineTable" />
    </div>
    <div id="test">
        <input type="button" id="startNewAnalysisBtn" value="New Analysis" onclick="startNewAnalysis()" hidden="true" />
    </div>
</div>

<div id="fakeBoard" hidden="true" />