
@{
    ViewBag.Title = "Signin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Signin</h2>

<link rel="stylesheet" href="~/Content/busyIndicator.css" media="all"/>
<script type="text/javascript" src="~/Scripts/handlebars.js"></script>

<div class="signinDiv">
    <input id="UserName" name="UserName" type="text" class="form-control" placeholder="UserName" required="" autofocus="" data-dpmaxz-eid="2">
    <input id="Password" name="Password" type="password" class="form-control" placeholder="Password" required="" data-dpmaxz-eid="3">
    <button class="btn btn-lg btn-primary btn-block" type="submit" data-dpmaxz-eid="5" onclick="byPassAuth()">Sign in</button>
</div>
<!--<span id="notRegistered">
    не зарегестрированы?
    @Html.ActionLink("SignUp", "SignUp", "Account")
</span>-->

<div id="extProviders">
</div>

<script src="/Content/js/ExternalLogin.js"></script>

<script type="text/javascript">
    $(document).ready(function() {
        getExternalProvidersList();
    });
</script>

<script id="busyIndicatorTemplate" type="text/x-handlebars-template">
    <div class="sk-circle">
        <div class="sk-circle1 sk-child"></div>
        <div class="sk-circle2 sk-child"></div>
        <div class="sk-circle3 sk-child"></div>
        <div class="sk-circle4 sk-child"></div>
        <div class="sk-circle5 sk-child"></div>
        <div class="sk-circle6 sk-child"></div>
        <div class="sk-circle7 sk-child"></div>
        <div class="sk-circle8 sk-child"></div>
        <div class="sk-circle9 sk-child"></div>
        <div class="sk-circle10 sk-child"></div>
        <div class="sk-circle11 sk-child"></div>
        <div class="sk-circle12 sk-child"></div>
    </div>
</script>